/* Form inputs */

.like:hover > a {
	text-decoration: none;
}

input[type="text"] {
	height: 30px;
}

/* Words, translations, languages */

.flashcard {
	padding: 5px 20px;
}

.flashcard:nth-child(odd) {
	background-color: #fff;
}

.flashcard:nth-child(even) {
	background-color: #f9f9f9;
}

.flashcard .controls {
	float: right;
	width: 32px;
	text-align: right;
}

.word {
	color: #0088cc;
	font-weight: bold;
	font-size: large;
}

.language {
	font-weight: normal;
	font-style: italic;
	font-size: x-small;
	color: #2f2f2f;
}

.word .language {
	float: right;
}

.translation {
	display: list-item;
	list-style-position: outside;
	list-style-type: decimal;
	margin-left: 10px;
}

/* Actions, buttons etc */

.action {
	cursor: pointer;
	display: inline-block;
  	width: 24px;
  	height: 24px;
  	vertical-align: text-top;
	background-position: 0 0;
	background-repeat: no-repeat;
	opacity: 0.4;
	/*
	position: relative;
	
	*/
}

.action:hover {
	opacity: 1.0;
}

.action.like {
	background-image: url("../img/glyphicons_343_thumbs_up.png");
}

.action.dislike {
	background-image: url("../img/glyphicons_344_thumbs_down.png");
}

.action.view {
	background-image: url("../img/glyphicons_351_book_open.png");
}

.error {
	color: red;
	padding: 10px;
}