.like:hover > a {
	text-decoration: none;
}

input[type="text"] {
	height: 30px;
}

.flashcard {
	padding: 30px 10px;
}

.word {
	color: #0088cc;
	font-weight: bold;
	font-size: large;
	padding: 10px 10px;
}

.translation {
	padding: 10px 10px;
	background-color: white;
}

.translation:nth-child(even) {
	background-color: #f9f9f9;
}

.language {
	border: 1 solid gray;
	background-color: rgb(201, 201, 201);
	font-size: small;
	padding: 0px 5px;
}

